@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.login-container{
    width: 582px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    /* position: relative; */
    position: fixed;
    padding: 40px 41px;
    margin: 2% 30%;
    /* margin: 0 auto; */
    /* top: 10%;
    bottom: 10%; */
    /* left: 30%; */
    background-color: #FFFFFF;
    z-index: 500;
    transition: all 0.3s ease-out;
}
.login-heading{
    font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #0D1421;
text-align: center;
}
.login-paragraph{
    font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #606570;
margin: 8px 0px 24px 0px;
text-align: center;
}
.login-email, .login-password{
    font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #111111;
display: inline-block;
margin-bottom: 9px;
}
.login-email-error, .login-password-error{
    font-weight: 500;
font-size: 14px;
line-height: 18px;
color: red;
display: inline-block;
margin-bottom: 9px;
}
.login-email-input, .login-password-input{
    background: #FFFFFF;
border: 0.5px solid #FCBC0E;
border-radius: 8px;
display: block;
height: 40px;
width: 100%;
padding: 12px;
font-family: inherit;
margin-bottom: 25px;
outline: none;
}
.login-checkbox-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #111111;
margin-bottom: 32px;
}
.checkbox-label-container{
    display: flex;
    align-items: center;
    gap: 16px;
}
.login-checkbox{
    height: 25px;
    width: 25px;
    border: 1px solid #111111;
    outline: none;
}
.login-checkbox, .checkbox-label{
    display: block;
}
.login-forgot-password{
    font-weight: 700;
    cursor: pointer;
}
.login-account-paragraph{
    margin: 25px 0px 40px 0px;
    color: #606570;
    font-weight: 400;
font-size: 16px;
line-height: 21px;
text-align: center;
}
.login-signup{
    font-weight: 700;
    color: #111111;
    cursor: pointer;
}
.login-switch{
    color: #7D7F83;
    font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-bottom: 24px;
text-align: center;
}
.login-social-logos{
    text-align: center;
}
.login-facebook{
    margin-left: 43px;
    margin-right: 43px;
    cursor: pointer;
}
.login-google, .login-twitter{
    cursor: pointer;
}
.times{
    position: absolute;
    color: #444444;
    font-size: 30px;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .login-container{
    margin: 10% 26%;
    }
}
@media screen and (max-width: 1100px) {
    .login-container{
    margin: 10% 21%
    }
}
@media screen and (max-width: 900px) {
    .login-container{
    margin: 10% 14%
    }
}

@media screen and (max-width: 768px) {
    .login-container{
        width: 500px
    }
}
@media screen and (max-width: 600px) {
    .login-container{
        width: 400px;
        padding: 40px 20px;
    }
}
@media screen and (max-width: 500px) {
    .login-container{
        margin: 10% 8%;
    }
}
@media screen and (max-width: 450px) {
    .login-container{
        width: 300px;
        padding: 40px 10px;
    }
    .checkbox-label-container{
        gap: 3px;
    }
}
@media screen and (max-width: 400px) {
    .login-container{
        margin: 10% 13%;
    }
}
@media screen and (max-width: 320px) {
    .login-container{
        margin: 10% 8%;
    }
}



