* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 /* position: relative; */
}
.heroSection{
background-image: url(../../Assets/CatalogueHero.png);
height: 281px;
}

.searchSection{
 padding-top: 55px;
 display: flex;
 padding-left: 149px;
 padding-right: 114px;
 gap: 30px;
 align-items: center;
 padding-bottom: 44px;
 border-bottom: 4px solid #F4F2F2;
}
.ops{
 width: 84px;
 height: 40px;
 background: rgba(217, 217, 217, 0.9);
border-radius: 90px;
 outline: none;
 border: none;
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
/* text-align: center; */
padding-left: 10px;
padding-top: 7px;
display: flex;
gap: 10px

}
.pricebox{
 width: 365px;
 height: 230px;
 background: #FFFFFF;
 border-radius: 15px;
 padding-left: 15px;
 padding-top: 10px;
 display: none;
 position: absolute;
 top: 115px;

}
.price{
display: flex;
}
.minPrice{
 height: 50px;
width: 160px;
border-radius: 30px;
border: 1px solid #D9D9D9;
display: flex;
cursor: pointer;
}
.symbol{
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 5px;
 font-size: 24px;
 border-right: 1px solid #D9D9D9;
}
.symbols{
 font-size: 36px;
 align-items: center;
}
.min{
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 5px;
 font-size: 24px;
}
.maxPrice{
 height: 50px;
width: 160px;
border-radius: 30px;
border: 1px solid #D9D9D9;
display: flex;
cursor: pointer;
}
.priceAmount{
 display: flex;
 gap: 90px;

}
.minmaxAmount{
 padding-top: 10px;
 padding-left: 30px;
 font-size: 20px;
}
th{
 padding-bottom: 7px;
}
tr{
 padding-top: 7px;
}

.bedBox{
 height: 115px;
width: 682px;
left: 2308px;
top: -2613px;
border-radius: 15px;
background: #FFFFFF;
position: absolute;
top: 120px;
left: 250px;
display: none;
}
.bedAmount{
 display: flex;
 gap: 10px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 25px;
 cursor: pointer;
}
.count{
 height: 50px;
width: 85px;
border-radius: 25px;
color: rgba(217, 217, 217, 1);
border: 1px solid rgba(217, 217, 217, 1);
text-align: center;
padding-top: 12px;
font-size: 18px;
}
.count:hover{
 color: gold;
 background-color: black;
}
.opss{
 width: 120px ;
 height: 40px;
 background: rgba(217, 217, 217, 0.9);
border-radius: 90px;
 outline: none;
 border: none;
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
/* text-align: center; */
padding-left: 10px;
padding-top: 7px;
display: flex;
gap: 10px

}
.bathroomBox{
 height: 115px;
width: 409px;
border-radius: 15px;
background-color: #FFFFFF;
position: absolute;
top:120px;
left: 380px;
display: none;
}
.bathroomAmount{
 display: flex;
 justify-content: center;
 gap: 15px;
 padding-top: 30px;
}
.bathroomCount{
 height: 50px;
width: 85px;
border-radius: 25px;
text-align: center;
color: rgba(217, 217, 217, 1);
border: 1px solid rgba(217, 217, 217, 1);
padding-top: 10px;
font-size: 20px;
}
.bathroomCount:hover{
 color: gold;
 background-color: black;
 cursor: pointer;
}

.catalogueSearch{
 width: 512px;
 height: 50px;
 border: 2px solid #0B0000;
border-radius: 90px;
background-color: transparent;
display: flex;
align-items: center; 
}
.searchBox{
 width: 265px;
height: 22px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: rgba(11, 0, 0, 0.5);
margin: 14px 186.5px 14px 15px;
background-color: transparent;
outline: none;
border: none;
}

.opsort{
 background-color: transparent;
 outline: none;
 border: none;
 font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;

}
.catalogueContainer{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 150px 115px 120px 115px;
}
.more{
 width: 15%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 144px;
}