/* .review{
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0B0000;
 color: #fff;
 font-family: Inter;
font-size: 32px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
Width: 250px;
Height: 60px;
} */

.review{
 padding: 2rem;
 background-color: #D9D9D9;;
}

.reviewheading{
 border: 1px solid #0B0000 ;
 padding: 1rem 3rem;
 background-color: #0B0000;
 width: 7rem;
 font-size: 2rem;
 color: white;
 margin: 3rem auto;
 text-transform: uppercase;
}

.reviewcard{
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 margin: 4.5rem 0;
}

.reviewcard img{
 width: 18rem;
 height: 16rem;
 margin-bottom: 1rem;
}