.review{
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0B0000;
 color: #fff;
 font-family: Inter;
font-size: 32px;
font-weight: 500;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
Width: 250px;
Height: 60px;
}