.payment-container{
    font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
/* position: relative; */
}
.hero-bg{
    position: relative;
    /* background-image: url('../../Assets/payment-hero.svg');
    background-size:100%;
    background-repeat:repeat-x; */
}
/* .hero-bg p{
    padding: 100px;
    word-wrap: break-word;
} */
.hero-bg img{
    width: 100%;
    height: auto;
}
.hero-backdrop{
    position: absolute;
    top: 0px;
    left: 0px;
    /* z-index: 10; */
    opacity: 0.1;
}
.payment-logo{
    font-size: 48px;
line-height: 58px;
color: #0B0000;
position: absolute;
top: 43px;
/* left: 113px; */
left: 8%;
}
.payment-logo span{
    color: #FCBC0E;
}
.payment-sub-container{
    position: absolute;
    top: 101px;
    left: 37%;
}
.payment-head{
    font-size: 84px;
line-height: 102px;
text-align: center;
width: 381px;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 24px;
}
.payment-text{
    font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
margin-bottom: 81px;
text-align: center;

}
/* .desktop-img{
    display: block;
    max-width: 100%;
   }
.mobile-img{
    display: none;
    max-width: 100%;
   } */

@media screen and (max-width:1310px) {
    .payment-logo{
        font-weight: 600;
        font-size: 42px;
        top: 4%;
        left: 7%;
    }
    .payment-sub-container{
        top: 91px;
        left: 33%;
    }
   .payment-head{
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    width: 250px;
   } 
   .payment-text{
    margin-bottom: 30px;
   }

}
@media screen and (max-width:910px) {
    .payment-logo{
        font-weight: 600;
        font-size: 42px;
        top: 2%;
        left: 5%;
    }
    .payment-sub-container{
        top: 61px;
        left: 31%;
    }
   .payment-head{
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    width: 250px;
   } 
   .payment-text{
    margin-bottom: 30px;
   }

}
@media screen and (max-width:840px) {
    .payment-logo{
        font-weight: 500;
        font-size: 38px;
        top: 1%;
        left: 4%;
    }
    .payment-sub-container{
        top: 51px;
        left: 30%;
    }
   .payment-head{
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    width: 250px;
   } 
   .payment-text{
    margin-bottom: 20px;
   }

}
@media screen and (max-width:738px) {
    .payment-logo{
        font-weight: 500;
        font-size: 38px;
        top: 5px;
        left: 6%;
    }
    .payment-sub-container{
        top: 51px;
        left: 25%;
    }
   .payment-head{
    font-size: 54px;
    font-weight: 400;
    line-height: 50px;
    width: 250px;
    margin-bottom: 20px
   } 
   .payment-text{
    margin-bottom: 20px;
   }

}
@media screen and (max-width:675px) {
    .payment-logo{
        font-weight: 500;
        font-size: 38px;
        top: 5px;
        left: 6%;
    }
    .payment-sub-container{
        top: 51px;
        left: 25%;
    }
   .payment-head{
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    width: 250px;
    margin-bottom: 10px
   } 
   .payment-text{
    margin-bottom: 15px;
    font-size: 20px;
   }

}
@media screen and (max-width:627px) {
    .payment-logo{
        font-weight: 600;
        font-size: 22px;
        top: 3px;
        left: 6%;
    }
    .payment-sub-container{
        top: 51px;
        left: 6%;
    }
   .payment-head{
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    width: 550px;
    margin-bottom: 10px
   } 
   .payment-text{
    margin-bottom: 15px;
    font-size: 20px;
   }

}
@media screen and (max-width:550px) {
    .payment-logo{
        font-weight: 600;
        font-size: 22px;
        top: 1px;
        left: 4%;
    }
    .payment-sub-container{
        top: 41px;
        left: 1%;
    }
   .payment-head{
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    width: 450px;
    margin-bottom: 10px;
    /* margin:0 auto; */
   } 
   .payment-text{
    margin-bottom: 15px;
    font-size: 20px;
   }

}
@media screen and (max-width:500px) {
    .payment-logo{
        font-weight: 600;
        font-size: 18px;
        top: 1px;
        left: 3%;
    }
    .payment-sub-container{
        top: 41px;
        left: -50px;
    }
   .payment-head{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    width: 550px;
    margin-bottom: 5px;
   } 
   .payment-text{
    margin-bottom: 5px;
    font-size: 20px;
   }
   .payment-btn{
    padding: 10px 20px !important;
   }
}
@media screen and (max-width:410px) {
    .payment-logo{
        font-weight: 600;
        font-size: 18px;
        top: -10px;
        left: 3%;
    }
    .payment-sub-container{
        top: 31px;
        left: -70px;
    }
   .payment-head{
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    width: 550px;
    margin-bottom: 3px;
   } 
   .payment-text{
    margin-bottom: 3px;
    font-size: 18px;
   }
   .payment-btn{
    padding: 10px 20px !important;
   }
}
@media screen and (max-width:380px) {
    .payment-sub-container{
        top: 31px;
        left: -80px;
    }
}
@media screen and (max-width:358px) {
    .payment-logo{
        font-weight: 600;
        font-size: 18px;
        top: -10px;
        left: 3%;
    }
    .payment-sub-container{
        top: 31px;
        left: -90px;
    }
   .payment-head{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    width: 550px;
    margin-bottom: 3px;
   } 
   .payment-text{
    margin-bottom: 3px;
    font-size: 18px;
   }
   .payment-btn{
    padding: 10px 20px !important;
   }
}
@media screen and (max-width:340px) {
    .payment-logo{
        font-weight: 600;
        font-size: 18px;
        top: -10px;
        left: 3%;
    }
    .payment-sub-container{
        top: 31px;
        left: -110px;
    }
   .payment-head{
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    width: 550px;
    margin-bottom: 3px;
   } 
   .payment-text{
    margin-bottom: 3px;
    font-size: 18px;
   }
   .payment-btn{
    padding: 10px 20px !important;
   }
}
