@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





@media screen and (max-width: 540px) {
    .payment-info-container{
    padding: 5px;
    }
    .payment-input-group div select{
        width: 100%;
        
    }
    .payment-input-group div input{
        width: 100%;
    }
    .radio-input input{
        margin-left: 2px
    }
    .radio-input label{
        margin-left: 2px;
        font-size: 12px;
    }
    .payment-radio-group{
        font-size: 12px; 
    }
}



/* Style handled by Michael for the payment pesonal details*/
.body_payment_main {
    display: flex;
    /* flex-wrap: wrap; */
    background:#E5E5E5;
    font-family: "DM Sans", "sans serif";
}
.body_pay_listWord {
    width: 80%;
    margin: 20px auto;
    background: #F4F2F2;;
    border: 1px solid #CBCBCB;
    padding: 30px;
}
.body_pay_listWord ul li{
    margin-bottom: 16px;
    margin-left: 32px;
    text-align: justify;
    list-style: none;
}
.body_pay_listWord ul li:before{
    content: "";
    position: absolute;
    width:20px;
    height: 20px;
    background-image: url('../../Assets/list-style.svg');
    background-size: contain;
    margin-left: -30px;
}
