.cardcontainer{
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.cardcontainer:hover{
    width: 21.5rem;
    height: 16.5rem;
   transition-timing-function: linear;
   /* transform: scale(2,2); */
}
.cardcontent{
    padding: 5rem 0;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.cardcontent:hover{
    font-size: xx-large;
}

@media screen and (max-width: 900px) {
    
    .cardcontainer{
        width: 17rem;
        height: 12rem;
    }

    .cardcontainer:hover{
        width: 18rem;
        height: 13rem;
    }
    
    .cardcontent{
        padding: 4rem 0;
    }

    .cardcontent:hover{
        font-size: x-large;
    }
}