*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

.section2{
 background: #FCBC0E;
 opacity: 0.8;
 height: 814px;
 padding: 78px 117px 0 105px;
}
.apartmentView{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.apartmentBlock{
 height: 50px;
width: 300px;
border-radius: 90px;
background: rgba(255, 255, 255, 0.3);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
padding: 11px 0 10px 0;
color: #000;
}
.iconblock{
 display: flex;
 gap: 7px;
 align-items: center;
}

.apartmentDetailsBlock{
 display: flex;
 margin-top: 80px;
 justify-content: space-between;
 margin-bottom: 124px;
}

.apart{
 margin-bottom: 52px;
 font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: left;
height: 231px;
width: 561px;
}

.apartmentBathRoom{
 display: flex;
}
.bed-div{
 display: flex;
 border-right: 3px solid grey;
}
.bed-div p{
 padding: 0 7px 0 7px;
}
.bath-div{
 display: flex;
 padding-left: 10px;
}
.bath-div p{
 padding: 0 7px 0 7px;
}
.apartmentSection{
 height: 300px;
width: 286px;
left: 984px;
top: 484px;
background: #FFFFFF;
border-radius: 15px;
}
.save{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 22px 0 13px 0;
 border-bottom: 2px solid #DBDBDB;;
}
.saveSecond{
 display: block;
 text-align: center;
 padding: 60px 0 70px 0;
}

.saveSecond p{
 /* align-items: center; */
 font-size: 32px;
}
.saveSecondApply{
 background: #0B0000;
opacity: 0.9;
border-radius: 0px 0px 15px 15px;
height: 63px;
width: 286px;
text-align: center;
padding: 20px 0 14px 0;
}
.saveSecondApply a{
 color: #FCBC0E;
 text-decoration: none;
 font-size: 24px;
}

.blockImg{
 display: flex;
 justify-content: space-between;
}
.blockShow{
 text-align: center;
 font-size: 24px;
 padding: 32px 0 150px 0;
}
