.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Inter';
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navlinks, .navdiv, .buttondiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlogo{
    flex: 10%;
}

.menuList{
    flex: 40%;
}

.navbar li{
    list-style-type: none;
}

.navbar a, .navbutton1, .navbutton2{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    transition: 1s;
}

.navlinks a{
    padding: 0 1rem;
}

.navlinks a:hover{
    font-size: 20px;
    font-weight: 700;
}

.navbutton1, .navbutton2{
    border: none; 
    background-color: rgba(255, 255, 255, 0.068);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 1s;
}

.navbutton1:hover, .navbutton2:hover{
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #FCBC0E;
    background-color: rgba(255, 255, 255, 0.493);
    
}

.navbutton1{
    border-right: 1.5px solid #FCBC0E;

}

.navbutton2{
    border-left: 1.5px solid #FCBC0E;

}


/* Mobile responsiveness reversal */
#hamburger{
    display: none;
}

.active{
    flex: 40%;
}




@media screen and (max-width: 965px) {
    .navlogo img{
        width: 7rem;
        height: 3rem;
        padding-top: 0.5rem;
    }

    .menuList a{
        padding: 0 0.5rem;
    }

    .navlogo{
        flex: none;
        padding-right: 5rem;
    }
}

@media screen and (max-width: 865px) {

    .navlogo{
        padding-right: 2rem;
    }

}

@media screen and (max-width: 768px) {

    #hamburger{
        display: block;
        cursor: pointer;
        font-size: 4rem;
        color: #FCBC0E;
    }
    
    .active{
        position: absolute;
        top: 8rem;
        left: 0;
        background-color: rgb(211,193,170);
        width: 100vw;
        display: block;
    }
    
    .menuList{
        display: none;
    }

    .active ul{
        display: block;
        height: 70vh;
        text-align: center;
        transition: 0.5s;
        padding: 0 1rem ;
        
    }

    .navdiv{
        display: block;
    } 

    .navlinks{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    .buttondiv{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1rem;

    }

    .active li{
        padding: 1rem  ;
        margin: 1rem 0;
        border-radius: 10px;
        border: 2px solid white;
        list-style-type: none;
    }
    
    .active a{
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        transition: 1s;
        padding: 1rem 7rem;
        
    }

    #special{
        padding: 1rem 4.2rem;
    }

    .active li:hover{
        background-color: #ffffff;
        border: 2px solid #FCBC0E;
    }

    .active a:hover{
        color: black;

    }

    .navbutton1, .navbutton2{
        border: 2px solid white;
        border-radius: 10px;
        color: #ffffff;
    }
    
    .navbutton1{
        padding: 1rem 7.65rem;

    }

    .navbutton2{
        padding: 1rem 6.95rem;
    }

    .navbutton1:hover, .navbutton2:hover{
        background-color: #ffffff;
        border: 2px solid #FCBC0E;
        color: black;
    }
 

}

@media screen and (max-width: 620px) {

    .active ul{
        height: 92vh;
    }

    .navbutton2{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 425px) {

    .navbar{
        padding: 0.5rem 1.5rem;
    }

    #hamburger{
        font-size: 3rem;
    }

}

@media screen and (max-width: 350px) {

    .active a{
        padding: 1rem 5rem;
    }

    .navbutton1{
        padding: 1rem 5.75rem;
    }

    .navbutton2{
        padding: 1rem 5.25rem;
    }

    #special{
        padding: 1rem 2.5rem;
    }

}
