.overview{
    font-family: 'Inter';
    font-style: normal;
    padding: 3rem;
}

.overheading1{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.overheading2{
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;

}

.overcontent{
    font-weight: 100;
    font-size: 20px;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.overdiv{
    background-color: #F4F2F2;
    padding: 1.5rem;
}

.oversubdiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}

.oversubdiv h3{
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
}

.oversubdiv img{
    width: 1.5rem;
    margin-right: 1rem;
}

.linebreak{
    height: 3px;
    color: #D9D9D9;
    background-color: #bdbaba;
}

.accordionimg img{
    width: 3rem;
    transition: 0.75s;
    cursor: pointer;
}

.accordionimg img:hover{
    width: 3.25rem;
}

.accordionimg{
    text-align: center;
}
