.landingPage{
    font-family: 'Inter';
}

.hero{
    background-image: linear-gradient(359.38deg, rgba(11, 0, 0, 0.96) 2.23%, rgba(11, 0, 0, 0.05) 41.31%, rgba(11, 0, 0, 0) 50.45%), 
                        url('../../Assets/landing-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.navcomponent{
   padding-top: 2rem;
}

.heroheading{
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    padding: 6rem 2rem 2rem 2rem;
    text-transform: capitalize;
}

 .inputdiv{
    border: 2px solid white;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20rem;
    padding: 0.5rem;
}

#herosearch{
    padding: 1rem 3rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    flex: 80%;
    color: white;
    font-family: inherit;
    font-weight: 500;
}

#herosearch:focus{
    outline: none;
}

#herosearch::placeholder{
    letter-spacing: 0.225em;
    color: white;
    font-weight: 500;
}

.captiondiv{
    background-color: black;
    width: 25rem;
    margin-top: 9rem;
}


.caption{
    color: white;
    width: 22rem;
    border-right: 6px solid #FCBC0E;
    padding: 1.5rem 0 1.5rem 5rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
}

.section2, .section3{
    background-color: black;
    padding: 2rem 0;
}

.section2heading, .section2subheading{
    color: white;
    text-align: center;
}

.section2heading{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 4.5rem;
    text-transform: uppercase;
}

.section2subheading{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 4rem;
}

.locationcarddiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 6rem;
}


.section3heading{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.carousel, .reviewcarousel{
    width: 90vw;
    margin: 3.5rem auto ;
  }

.carouseldiv1{
    background-image: url('../../Assets/carousel3.svg');   
}

.carouseldiv2{
    background-image: url('../../Assets/carousel2.svg');   
}

.carouseldiv3{
    background-image: url('../../Assets/carousel1.svg');   
}

.carousel-status{
    display: none;
}

.carouseldiv1, .carouseldiv2, .carouseldiv3{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
   
}


.carouseltext{
    font-weight: 500;
    font-size: 3rem;
    line-height: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    margin: 13rem 0 9rem;
    text-transform: uppercase;

}

.carouselbutton{
    padding: 1rem;
    background-color: #FCBC0E;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

.carouselbutton img{
    width: 2rem !important;
    padding-left: 0.5rem;
}

.explorediv{
    margin: 3rem 0 1rem 0;
}

.section4{
    padding: 2rem;
}

.section4heading{
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.review{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobilecarousel{
    display: none;
}

@media screen and (max-width: 1125px) {
    .inputdiv{
        
        margin: 0 15rem;
      
    }
}


@media screen and (max-width: 900px) {
    .inputdiv{
        margin: 0 12rem;
    }
}


@media screen and (max-width: 768px) {
    .heroheading{
        font-size: 3rem;
    }
    
    .inputdiv{
        margin: 0 8rem;
        padding: 0.25rem;
    }

    #herosearch{
        padding: 1rem;
    }
    .searchicon{
        width: 2rem;
    }

    .captiondiv{
        margin-top: 3.5rem;
    }

    .section2heading, .section3heading{
        font-size: 2.5rem;
    }

    .section2subheading{
        font-size: 1rem;
        
    }
    .locationcarddiv{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 600px) {

    .heroheading{
        padding: 4rem 2rem 2rem 2rem;

    }

    .inputdiv{
        margin: 0 4rem;
    }

    #herosearch::placeholder{
        letter-spacing: 0.15em;
    }

    .section2heading, .section3heading, .section2subheading{
        padding: 0 2rem;
    }

    .locationcarddiv{
        justify-content: center;
    }

    .section3heading{
        font-size: 2rem;
    }

    .carouseltext{
     
        font-size: 2rem;
        line-height: 2rem;
    }

    .reviewcarousel{
        display: none;
    }

    .mobilecarousel{
        display: block;
    }
    
}

@media screen and (max-width: 400px) {
    
    .heroheading{
        font-size: 2rem;
    }

    .inputdiv{
        margin: 0 1.75rem;
    }

    .captiondiv{
        width: 15rem;
    }

    .caption{
        width: 13rem;
        padding: 1.5rem 1.5rem 1.5rem 3.5rem;
        font-size: 1rem;
        line-height: 15px;
    }

    .section2heading, .section3heading, .section4heading{
        font-size: 1.75rem;
    }

    .section2subheading{
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .carouseltext{
     
        font-size: 1.5rem;
        line-height: 2rem;
    }

}