@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    font-family: "DM sans", sans-serif;
    font-size: 16px;
    /* background-color: rgba(0,0,0,0.9) */
} 

.login-form {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    overflow-y: auto;
    transition: all 1s ease-out;
    
}


.success_note {
    color: darkgreen;
    text-align: center;
    display:inline-block;
    margin: 0 auto;
}

.x-icon {
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
    text-align: right;
    position: absolute;
    width: 20px;
    top: 10px;
    right: 30px;
    cursor: pointer;
}
.x-icon:hover {
    background-color: #0B0000;
    color: #ffffff
    

}


.sign_head {
    text-align: center;
    font-size: 35px;
}

.p-head {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}


.signup_form {
    padding: 0 20px;
    width: 100%;
}

.input_label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 12px;
}

.input-wrap  {
    margin: 10px 0;
    width: 100%;
}

.input_type {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    font-size: 12px;
    border: 1px solid #FCBC0E;
}


.signButton {
    width:100%;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    background-color: #FCBC0E;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.signButton:hover {
    background-color: #daa003;
    cursor: pointer;
}

.signButton a {
    text-decoration: none;
    color: #ffffff;
}

.hav-acct {
    text-align: center;
    font-size: 14px;
}
.login {
    font-weight: bold;
    margin-left: 10px;
}
.login a {
    text-decoration: none;
    color: #0B0000;
}

.small_tag {
    color: red;
    font-size: 12px;
    font-weight: 600;
    /* display: none; */
}


.or-opt {
    text-align: center;
    margin: 10px 0;
    line-height: 30px;
}
.or {
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}

.login-opt {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    
}
.m-icon {
    display: inline-block;
    width:40%;
    height: auto;
    max-width: 50px;
    margin: 5px 30px;
}
.m-icon2 {
    max-width: 40px; 
}
.m-icon:hover {
    fill: #daa003;
    transform: scale(1.1);
    transition: 0.5s ease
}
    
@media screen and (max-width: 500px) {
    .login-form {
        width: 100%;
    }
    .m-icon {
        max-width: 40px;
        margin: 5px 10px;
    }

}
@media screen and (max-width: 800px) {

    .login-form {
        width: 50%;
        height: 100%m;
    }
    .login-form {
        width: 90%; 
    }
    .login-opt {
        width: 100%;
        padding: 30px 0;
    }

}